@import "settings";
@import "../bower_components/foundation/scss/foundation";
@import "modules/social_media_icons";

// Or selectively include components
// @import
//   "../bower_components/foundation/scss/foundation/components/accordion",
//   "../bower_components/foundation/scss/foundation/components/alert-boxes",
//   "../bower_components/foundation/scss/foundation/components/block-grid",
//   "../bower_components/foundation/scss/foundation/components/breadcrumbs",
//   "../bower_components/foundation/scss/foundation/components/button-groups",
//   "../bower_components/foundation/scss/foundation/components/buttons",
//   "../bower_components/foundation/scss/foundation/components/clearing",
//   "../bower_components/foundation/scss/foundation/components/dropdown",
//   "../bower_components/foundation/scss/foundation/components/dropdown-buttons",
//   "../bower_components/foundation/scss/foundation/components/flex-video",
//   "../bower_components/foundation/scss/foundation/components/forms",
//   "../bower_components/foundation/scss/foundation/components/grid",
//   "../bower_components/foundation/scss/foundation/components/inline-lists",
//   "../bower_components/foundation/scss/foundation/components/joyride",
//   "../bower_components/foundation/scss/foundation/components/keystrokes",
//   "../bower_components/foundation/scss/foundation/components/labels",
//   "../bower_components/foundation/scss/foundation/components/magellan",
//   "../bower_components/foundation/scss/foundation/components/orbit",
//   "../bower_components/foundation/scss/foundation/components/pagination",
//   "../bower_components/foundation/scss/foundation/components/panels",
//   "../bower_components/foundation/scss/foundation/components/pricing-tables",
//   "../bower_components/foundation/scss/foundation/components/progress-bars",
//   "../bower_components/foundation/scss/foundation/components/reveal",
//   "../bower_components/foundation/scss/foundation/components/side-nav",
//   "../bower_components/foundation/scss/foundation/components/split-buttons",
//   "../bower_components/foundation/scss/foundation/components/sub-nav",
//   "../bower_components/foundation/scss/foundation/components/switches",
//   "../bower_components/foundation/scss/foundation/components/tables",
//   "../bower_components/foundation/scss/foundation/components/tabs",
//   "../bower_components/foundation/scss/foundation/components/thumbs",
//   "../bower_components/foundation/scss/foundation/components/tooltips",
//   "../bower_components/foundation/scss/foundation/components/top-bar",
//   "../bower_components/foundation/scss/foundation/components/type",
//   "../bower_components/foundation/scss/foundation/components/offcanvas",
//   "../bower_components/foundation/scss/foundation/components/visibility";

::-webkit-input-placeholder { /* WebKit browsers */
  color: #bdbab4;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #bdbab4;
  opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #bdbab4;
  opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #bdbab4;
}

hgroup h1, hgroup h2,
hgroup h3, hgroup h4,
hgroup h5, hgroup h6 {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  line-height: 2rem;

  strong {
    font-weight: 700;
  }

  em {
    font-weight: 300;
    font-style: normal;
  }

  &.subtle-header {
    color: $iron;
    font-style: italic;
  }

  &.emphasis-header {
    color: $base-magenta;
    font-weight: bold;

    small { color: $base-magenta; }
  }
  
  > .header-important-word {
    font-size: 1.5em;
    font-style: italic;
  }
}

/* ------------------------- *
 * General Form Styles
 * ------------------------- */
fieldset {
  border-top: 1px solid $smoke;
  border-bottom-style: none;
  border-right-style: none; border-left-style: none;
  padding-left: 0;
  padding-right: 0;
}

label {
  font-style: italic;
  font-size: rem-calc(20px);
  color: $base-dark-blue;

  &.legals-label { margin-bottom: 10px; }

  @media #{$small-only} {
    &:not(.legals-label) { text-align: center };
    font-size: rem-calc(16px);


  }
}

input {
  box-shadow: none !important;
  color: #bdbab4;
}

select.select-green {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  overflow: hidden;
  background: $white url('../images/dropdown.gif') no-repeat right;
  -webkit-background-size: contain;
  background-size: contain;
}

.checkbox-custom[type="checkbox"] {
  $custom-checkbox-width: 20px;
  position: relative;
  cursor: pointer;
  width: $custom-checkbox-width;
  height: $custom-checkbox-width;

  &:before {
    position: absolute;
    display: block;
    width: $custom-checkbox-width;
    height: $custom-checkbox-width;
    border: 2px solid $gainsboro;
    content: "";
    background: #FFF;
    border-radius: 3px;
  }

  &:after {
    position: absolute;
    display: block;
    left: 2px;
    top: 2px;
    width: 15px;
    height: 15px;
    content: "";
  }

  &:checked:after {
    //background: url('../images/checkbox-sprite.png') no-repeat;
    //background-position: 0 0;
    font-family: 'FontAwesome';
    font-size: rem-calc(16px);
    content: "\f00c";
    color: $gainsboro;
  }
}

/* ------------------------- *
 * General Classes
 * ------------------------- */
.column.small-centered {
  margin-left: auto;
  margin-right: auto;
  float: none !important;
}

.left-divider {
  border-right: 1px solid $iron;

  @media #{$small-only} {
    border: none;
  }
}

.clear {
  clear: both;
}

.show-on-small {
  display: none;
  @media #{$small-only} {
    display: block;
  }
}

.emphasized-text { color: $base-green !important; }

//----------------------------------------------------------------------
/* ------------------------- *
 * header Styles
 * ------------------------- */

#main-header {
  margin: rem-calc(15px) 0 rem-calc(25px);
  vertical-align: middle;
  padding-right: 20px;
}

.brand {
  width: rem-calc(150px);
}

//----------------------------------------------------------------------
/* ------------------------- *
 * Main Form Styles
 * ------------------------- */

.email-form-panel {
  @include panel(
    // Sets the panel background color. Default: $panel-pg
    $bg: white,
    // Sets the panel padding amount. Default: $panel-padding
    $padding: 25px,
    // Sets the font color based on the darkness of the bg & resets header line-heights for panels. Default: $panel-header-adjust
    $adjust: true
  );
  border: none;
  position: relative;
  margin-bottom: rem-calc(55px);

  &:before {
    font-family: 'FontAwesome';
    content: "\f003";
    color: white;
    font-size: rem-calc(24px);
    text-align: center;
    position: absolute !important;
    left: rem-calc(43px) * -1;
    top: 0;
    width: rem-calc(43px);
    height: rem-calc(43px);
    padding: rem-calc(5px);
    background-color: $base-green;

    @extend .visible-for-medium-up;
  }
}

#subscription-form {

  input[type="submit"] {
    display: block;
    width: 100%;
  }
}

//----------------------------------------------------------------------
/* ------------------------- *
 * users list Styles
 * ------------------------- */

#users-count-container {
  margin-bottom: rem-calc(70px);
}

#users-count {
  font-style: italic;
  font-weight: bold;
  color: $base-green;
  font-size: rem-calc(60px);
  margin-bottom: rem-calc(25px);
  
}

.email-marketing-icon {
  width: rem-calc(68px);
}
//----------------------------------------------------------------------
/* ------------------------- *
 * footer Styles
 * ------------------------- */

#main-footer {
  border-bottom: 5px solid $base-green;
}

.footer-section {
  $border-style: 1px solid $smoke;
  border-top: $border-style;
  border-bottom: $border-style;
  padding: rem-calc(10px);
}

#follow-us {
  @media #{$small-only} {
    text-align: center;
  }
}

#follow-us-title {
  @media #{$small-only}, #{$medium-only} {
    h3 {
      font-size: 1.2rem !important;
    }
    h2 {
      font-size: 1.8rem !important;
    }
  }
}

.brand-list {
  margin-bottom: 0;

  li {
    margin: 0 rem-calc(6px);
  }
}

.secondary-brand {
  margin: 0;
  text-align: center;

  a {
    font-size: 60%;
    color: $jet;
    vertical-align: top;
  }
}

.icon-like {
  width: 17%;
  margin-right: rem-calc(10px);

  @media #{$small-only} {
    float: none !important;
    width: 60%;
  }
}

.social-media {
  > li {
    @media #{$small-only} {
      display: block;
      float: none !important;
      margin-left: 0;
      margin-bottom: rem-calc(20px);
    }
  }
}
.social-media-list {
  margin: 0;

  li {
    margin-right: 0;
    margin-left: rem-calc(5px);

    @media #{$small-only} {
      display:inline-block;
      text-align: center;
      float: none !important;
    }
  }

  i[class^="owak-icon-"], i[class*=" owak-icon-"] {
    font-size: rem-calc(49px);

    @media only screen and (max-width: 1023px) {
      font-size: rem-calc(37px);
    }
  }
}
