@font-face {
  font-family: 'owak-social-media-icons';
  src:url('../fonts/owak-social-media-icons/owak-social-media-icons.eot?-t6wbmg');
  src:url('../fonts/owak-social-media-icons/owak-social-media-icons.eot?#iefix-t6wbmg') format('embedded-opentype'),
  url('../fonts/owak-social-media-icons/owak-social-media-icons.ttf?-t6wbmg') format('truetype'),
  url('../fonts/owak-social-media-icons/owak-social-media-icons.woff?-t6wbmg') format('woff'),
  url('../fonts/owak-social-media-icons/owak-social-media-icons.svg?-t6wbmg#owak-social-media-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="owak-icon-"], [class*=" owak-icon-"] {
  font-family: 'owak-social-media-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.owak-icon-facebook:before {
  content: "\e600";
}
.owak-icon-instagram:before {
  content: "\e601";
}
.owak-icon-pinterest:before {
  content: "\e602";
}
.owak-icon-twitter:before {
  content: "\e603";
}
.owak-icon-youtube:before {
  content: "\e604";
}

.owak-icon-green { color: $base-green; }
.owak-icon-magenta { color: $base-magenta; }
.owak-icon-blue { color: $base-blue; }
